force-app/main/default/flows/Denied_Party_Screening.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_ContentIds1_To_Collection</name>
        <label>Assign ContentIds1 To Collection</label>
        <locationX>335</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>var_CombinedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ContentVersion_Ids_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContentVerId_2_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ContentIds2_To_Collection</name>
        <label>Assign ContentIds2 To Collection</label>
        <locationX>485</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>var_CombinedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ContentVersion_Ids_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_CDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CV_for_Update</name>
        <label>Assign CV for Update</label>
        <locationX>925</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>soc_UpdateContentVersions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Content_Versions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Date</name>
        <label>Assign User &amp; Date</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.Denied_Party_Screening_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.Denied_Party_Screening_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.Document_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SALES-110</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.Document_Class_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Denied Party Screening Results</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>1086</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>Get_Content_Versions.Document_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SALES-110</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CV_for_Update</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Document Class Description - Sales-110</description>
        <name>DC_Desc_Sales110</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Denied Party Screening Results</stringValue>
        </value>
    </constants>
    <constants>
        <description>Document Class - Sales-110</description>
        <name>DC_Sales_110</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SALES-110</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ContentVerId_1_Found</name>
        <label>ContentVerId_1 Found</label>
        <locationX>321</locationX>
        <locationY>550</locationY>
        <defaultConnector>
            <targetReference>ContentVerId_2_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Cont1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ContentVersion_Ids_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ContentIds1_To_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContentVerId_2_Found</name>
        <label>ContentVerId_2 Found</label>
        <locationX>523</locationX>
        <locationY>497</locationY>
        <defaultConnector>
            <targetReference>Found_CDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Cont2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ContentVersion_Ids_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ContentIds2_To_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_CDs</name>
        <label>Found CDs</label>
        <locationX>634</locationX>
        <locationY>292</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCDsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CombinedCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Document</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Content</name>
        <label>Found Content</label>
        <locationX>1037</locationX>
        <locationY>135</locationY>
        <defaultConnector>
            <targetReference>Loop_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesContent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Versions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_SOC_for_Update</name>
        <label>Found SOC for Update</label>
        <locationX>797</locationX>
        <locationY>354</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSOC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soc_UpdateContentVersions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ContentVersions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>1/31/2022 - SH updated to prevent error if only one document loaded</description>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Denied Party Screening {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Denied Party Screening</label>
    <loops>
        <name>Loop_Document</name>
        <label>Loop Document</label>
        <locationX>801</locationX>
        <locationY>188</locationY>
        <collectionReference>var_CombinedCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Content_Versions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_SOC_for_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Content_Versions</name>
        <label>Get Content Versions</label>
        <locationX>924</locationX>
        <locationY>108</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Content</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Document</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuoteRecord</name>
        <label>GetQuoteRecord</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Denied_Party_Screening</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>End_Use__c</queriedFields>
        <queriedFields>End_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ContentVersions</name>
        <label>Update ContentVersions</label>
        <locationX>812</locationX>
        <locationY>566</locationY>
        <inputReference>soc_UpdateContentVersions</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Record</name>
        <label>Update Quote Record</label>
        <locationX>178</locationX>
        <locationY>598</locationY>
        <connector>
            <targetReference>ContentVerId_1_Found</targetReference>
        </connector>
        <inputReference>GetQuoteRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Denied_Party_Screening</name>
        <label>Denied Party Screening</label>
        <locationX>177</locationX>
        <locationY>331</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_User_Date</targetReference>
        </connector>
        <fields>
            <name>Document_Class</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DC_Sales_110</elementReference>
            </defaultValue>
            <fieldText>Document Class</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Document_Class_Desc</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DC_Desc_Sales110</elementReference>
            </defaultValue>
            <fieldText>Document Class Desc</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_User_Info</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;b style=&quot;user-select: auto;&quot;&gt;End User :&lt;/b&gt;{!GetQuoteRecord.End_User__r.Name}&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); user-select: auto;&quot;&gt;End Use :&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); user-select: auto;&quot;&gt;{!GetQuoteRecord.End_Use__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EndUserEndUseDeclaration</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>End User/End Use declaration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetQuoteRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_ContentVersion_Ids_1</assignToReference>
                <name>contentVersionIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DeniedPartyScreeningResults</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Denied Party Screening results</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_ContentVersion_Ids_2</assignToReference>
                <name>contentVersionIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetQuoteRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>soc_UpdateContentVersions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>var_CombinedCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContentVersion_Ids_1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContentVersion_Ids_2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
