force-app/main/default/flows/Quote_Line_Item_File_Upload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>FileUploadLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>File Upload </stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>Quote_Line_Records</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Quote Line Item File Upload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line Item File Upload</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Order_Line_Attachment</name>
        <label>Order Line Attachment</label>
        <locationX>292</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Order_Line_Attachmnet_Upload</targetReference>
        </connector>
        <fields>
            <name>Quote_Line_Item</name>
            <choiceReferences>Quote_Line_Records</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quote Line Item</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>File_upload1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FileUploadLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Quote_Line_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf,.jpg,.jpeg,.pdf</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Line_Attachmnet_Upload</name>
        <label>Order Line Attachmnet Upload</label>
        <locationX>475</locationX>
        <locationY>78</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>File_upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FileUploadLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Quote_Line_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.png,.jpg,.jpeg,.pdf</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Order_Line_Attachment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Quote Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
