force-app/main/default/flows/Update_Test_Case_Complete_Date_when_Test_Case_is_Passed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_Test_Case_closed</name>
        <label>Is Test Case closed?</label>
        <locationX>169</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Test_Case_is_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Test_Case_Issue_to_Closed</targetReference>
            </connector>
            <label>Test Case is Passed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Test Case Complete Date - when Test Case is Passed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Test Case Complete Date - when Test Case is Passed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Test_Case_Issue_to_Closed</name>
        <label>Set Test Case Complete Date</label>
        <locationX>181</locationX>
        <locationY>512</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Complete_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Test_Cases__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Test_Case_closed</targetReference>
        </connector>
        <object>Test_Cases__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
